
body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  color: white;
  font-size: 20px;
}

.banner {
  background-color: red;
  margin: auto;
  margin-bottom: 10px;
}


.div-nav-bar, .ul-nav-bar, .li-nav-bar {
  text-align: center;
  color: white;
  text-align: left;
  list-style-type: none;
}

li, a {
  color: white;
  text-decoration: none;
}


.site-name {
  color: white;
  text-align: center;
}

.recipe-title {
  color: white;
  text-align: center;
  margin: auto;
  display: block;
  background-color: red;
}

.headings {
  color: white;
  font-size: 34px;
}


.headings {
  background-color: red;
}